.mainweathercard {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 28px;
    justify-content: space-between; 
}


.mainweathercard__wrapper{
    display: flex;
    box-sizing: border-box;
    justify-content: space-between; 
    align-items: center;
    padding-left: 16px;
    position: relative;
    height: 80px;
    background-color: #00A4FF;
    border-radius: 12px;
    overflow:hidden;
    width: 1360px;
}

.mainweathercard__temperature {
    color: #fff;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
  
}

.mainweathercard__icon {
    width: 60px;
    height: 60px;
    position: absolute;
    top: -10px;
    right: -8px;

}