
.page {
    background-color: #F3F3F3;
    margin: auto;
    font-family: "Cabinet Grotesk", "Arial", sans-serif;
    font-weight: 500;
    min-height: 100vh;
    color: #000;
}

.page__content {
  max-width: 1440px;
  min-width: 320px;
  margin: auto;
  
}