@font-face {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  src: url("../fonts/CabinetGrotesk-Bold.woff") format("woff");
}

@font-face {
  font-family: "Cabinet Grotesk";
  src: url("../fonts/CabinetGrotesk-Medium.woff") format("woff");
  font-weight: 500;
}

.user-profile {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  justify-content: space-between;
}

.user-profile__sidebar {
  margin: 0;
  padding: 0;
}

.sidebar__row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.username {
  margin-left: 16px;
}

.user-profile__content {
  display: flex;
  flex-direction: column;
}

.user-profile__content_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  justify-content: flex-start;
  margin-bottom: 0;
}

.add-button {
  border: none;
  background: transparent;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: "Cabinet Grotesk", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}
.user-profile__cards {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
}

.username__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  object-fit: cover;
}

@media screen and (max-width: 1300px) {
  .user-profile {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1105px) {
  .user-profile {
    grid-template-columns: repeat(2, 1fr);
  }
}
