.sidebar {
  width: 229px;
  height: 56px;
  margin-top: 47px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}

.sidebar-wrapper {
  display: flex;
}

.sidebar__image {
  margin-right: 16px;
  min-width: 56px;
  height: 56px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

.sidebar__text {
  font-size: 20px;
}

.sidebar__button {
  display: flex;
  border: none;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 8px;
  background-color: rgba(0, 0, 0, 0);
}

.sidebar__button:first-of-type {
  margin-top: 24px;
}
